* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(30, 143, 255, 0.08);
}
.container {
  width: 80%;
  margin: 3rem auto;
  text-align: center;
}
.form {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.form input {
  border: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-size: inherit;
  width: 10rem;
  border-radius: 3px;
  background-color: #fff;
}
.form input:focus {
  outline: 1px solid dodgerblue;
  caret-color: dodgerblue;
  background-color: #fff;
}
.form button {
  background-color: dodgerblue;
  color: #fff;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
}
.form button:hover {
  opacity: 0.8;
}

.lorem-container {
  background-color: #fff;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 5px;
}
.lorem-container .lorem {
  padding: 1rem;
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 1rem 2rem;
}
.lorem-container .lorem:nth-child(2n) {
  background-color: rgba(159, 154, 165, 0.082);
}
